<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--1、把service和dao交给spring管理  -->
	<bean id="accountService" class="com.hd123.tx.demo.AccountServiceImpl">
		<!--属性注入  -->
		<property name="account" ref="accountDao"></property>
	
	</bean>
	<bean id="accountDao" class="com.hd123.tx.demo.AccountDaoImpl">
		<!--属性注入  -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!--2、配置数据库连接池(这里以c3p0为例)和spring的jdbc模板  -->
	<!--第二种方式：通过context标签引入  -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!--配置c3p0连接池  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	
</beans>
